%h2 Index of #{@archive.hreflink}
%table{:cellspacing => 0, :cellpadding => 3}
  %tr
    %th
    %th{:class => 'namecol'}
      %a{:href => "?C=N;O=#{@dir['N']}"} Name
    %th
      %a{:href => "?C=M;O=#{@dir['M']}"} Last modified
    %th
      %a{:href => "?C=S;O=#{@dir['S']}"} Size
    %th
  - if @archive.parent
    %tr
      %td
        %img{:src => '/public/up.png', :alt => 'up.png'}
      %td
        %a{:href => @archive.parent } Parent Directory
      %td
      %td -
      %td
  - for item in @archive.list_items
    %tr
      %td
        %img{:src => "/public/#{item.iconname}.png", :alt => item.iconname}
      %td{:nowrap => 'nowrap'}
        %a{:href => item.href } #{item.name}
      %td #{item.mtime}
      %td #{item.size}
      %td
        - href = item.mirrorlist
        - if href
          %a{:href => href} Details
