!!!
- puts "renderlayout"
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %title #{@title}
    %link{:rel => 'stylesheet', :href => 'http://www.xfce.org/style/mirrorbrain.css', :media => 'all', :type => 'text/css'}/
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}/
  %body
    %div{:id => 'xfce-header'}
      %div
        %h1{:id => 'xfce-header-title'} Xfce Archive
        %h5{:id => 'xfce-header-subtitle'} Sub domains
        &nbsp;
        %ul
          %li
            %a{:href => 'http://www.xfce.org', :title => 'Go to the homepage'} Home
          %li
            %a{:href => 'http://docs.xfce.org', :title => 'Official documentation'} Docs
          %li
            %a{:href => 'http://archive.xfce.org', :title => 'Download location of tarballs', :class => 'active'} Archive
          %li
            %a{:href => 'http://wiki.xfce.org', :title => 'Community documentation'} Wiki
          %li
            %a{:href => 'http://forum.xfce.org', :title => 'Community forums'} Forum
          %li
            %a{:href => 'http://bugzilla.xfce.org', :title => 'Report and track bugs'} Bugs
          %li
            %a{:href => 'http://blog.xfce.org', :title => 'Visit the blog'} Blog
          %li
            %a{:href => 'http://www.xfce.org/getinvolved/translation', :title => 'Help translating the Xfce project'} Translate
          %li
            %a{:href => 'http://git.xfce.org', :title => 'Project repositories'} GIT
      %div{:id => 'xfce-header-clear'}
    - if @notice
      %div{:class => 'notify'} #{@notice}
    %div{:id => 'mirrorbrain-wrap'}
      %div{:id => 'mirrorbrain-details'}
        =yield
      %div{:id => 'mirrorbrain-footer'}
        %hr
        %a{:href => '/howtomirror'} Become a mirror!
        %a{:href => 'http://mirrorbrain.org', :title => 'Powered by MirrorBrain'}
          %img{:src => '/public/mb.png', :alt => 'MirrorBrain', :border => 0, :align => 'right'}
